.cartoes {
    background-color: #007bff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cartoes .card-text {
    font-family: 'Comfortaa', sans-serif;
    font-size: .8rem;
}

.card-title {
    font-family: 'Comfortaa', sans-serif;
    font-weight: lighter;
}

#corpo-titulo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    font-family: 'Comfortaa', sans-serif;
    font-weight: lighter;
}

#corpo {
    padding-bottom: 50px;
    padding-top: 50px;
}

#corpo h3 {
    font-family: 'Comfortaa', sans-serif;
    font-weight: lighter;
    font-size: 1.2rem;
    line-height: 2rem;
}

#profissionais {
    color: white;
    padding-bottom: 10px;
    font-weight: bold;
    font-family: 'Comfortaa', sans-serif;
    font-weight: lighter;
    margin: 1rem 0 1rem 0;
}

.imagem-card {
    height: 110% !important;
    object-fit: cover;
}

.card-equipe {
    object-fit: cover;
    padding: 0 0 0 0 !important;
}

.visibleOff{
	visibility: hidden;
}

.visibleOffSegundoNivel1{
    visibility: hidden;
}

.visibleOffSegundoNivel2{
    visibility: hidden;
}

.visibleOffSegundoNivel3{
    visibility: hidden;
}
.visibleOn{
	visibility: visible;
}